@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
    display: grid;
    grid-template-rows: 15% 70% 15%;
    overflow: hidden;
}

.task {
    width: clamp(250px, calc(250px + 20vw), 280px);
}

.btn {transition: all 250ms;}

.btn-hide {
    width: 0;
    height: 0;
    transition: all 250ms;
}

.options {
    width: 5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
    font-weight: bolder;
    text-align: center;
    opacity: 0;
    transform: translateY(10%);
    position: absolute;
    bottom: 4%;
}

.animate-options {
    width: 8rem;
    overflow: visible;
    opacity: 1;
    transform: translateY(0%);
    transition: all 500ms;
}

.animate-options-hide {
    width: 0;}

.options button {
    background-color: rgb(134 239 172);
    border-radius: 16px;
    padding: 4px;
}

.options button:hover {
    background-color: rgb(112, 228, 154);
}

.options button:active {
    background-color: rgb(98, 221, 143);
}


/* overlay */
.overlay {
    width: 100vw;
    height: 100vh;
    border: 1px solid skyblue;
    position: absolute;
    background-color: rgba(112, 228, 203, 0.1);
    display: grid;
    place-items: center;
}

.options-wrapper {
    width: clamp(300px, calc(180px + 24vh), 420px);
    height: clamp(300px, calc(180px + 24vh), 420px);
    padding-block: 2rem;
    padding-inline: 2rem;
    background-color: rgb(112, 228, 203);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    overflow: scroll;
}

.list-item {
    /* border: 1px solid saddlebrown; */
    /* font-weight: bolder; */
    color: rgb(44, 44, 44);
    padding-block: 0.25rem;
    padding-inline: 1rem;
    border-radius: 3rem;
    background-color: rgb(240, 240, 240);
}

#active {background-color: rgb(0, 255, 255);}
#active:hover {background-color: rgb(0, 245, 245);}
#active:active {background-color: rgb(0, 235, 235);}

.list-item:hover {background-color: rgb(235, 235, 235)}
.list-item:active {background-color: rgb(230, 230, 230)}

label {font-size: 1.5rem;}

input {
    padding-inline: 0.5rem;
    font-size: 1.1rem;
    width: clamp(150px, calc(150px + 12vw), 300px);
    border-bottom: 1px solid rgb(170, 170, 170);
}

input:focus {
    outline: none;
}

.option-btn {
    padding-block: 0.5rem;
    padding-inline: 1rem;
    background-color: aquamarine;
    font-size: 1.1rem;
}

/* @media screen and (max-height: 680px) {
    .wrapper {
        grid-template-rows: 20% 60% 20%;
    }
} */