@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
    display: grid;
    grid-template-rows: 15% 70% 15%;
}

.list {
    width: clamp(250px, calc(250px + 20vw), 280px);
}

p {
    text-align: center;
}