@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 --doc-height: 100%;
}

html,
body {
 height: 100vh;
 height: var(--doc-height);
}

.wrapper {
    display: grid;
    grid-template-rows: 15% 70% 15%;
    min-height: var(--doc-height);
}

.nav {
    /* border: 1px solid greenyellow; */
    min-height: var(--doc-height);
}

.btn {
    overflow: hidden;
    /* position: fixed;
    bottom: 8%; */
    transition: all 500ms;
}

.btn-hide {
    opacity: 0;
    transition: all 500ms;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
    font-weight: bolder;
    text-align: center;
    transform: translateY(10%);
    position: absolute;
    bottom: 40%;
}

.animate-options {
    width: 8rem;
    transform: translateY(0%);
    transition: all 500ms;
}

.animate-options-hide {
    width: 0;}

.options button {
    background-color: rgb(110, 231, 183);
    border-radius: 16px;
    padding: 4px;
}

.options button:hover {
    background-color: rgb(115, 236, 188);
}

.options button:active {
    background-color: rgb(105, 226, 178);
}


/* overlay */
.overlay {
    width: 100vw;
    height: 100vh;
    /* border: 1px solid skyblue; */
    position: absolute;
    /* background-color: rgba(236, 253, 245, 0.1); */
    display: grid;
    place-items: center;
}

.options-wrapper {
    width: 0;
    height: 0;
    padding-block: 0;
    padding-inline: 0;
    background-color: rgb(167, 243, 208);
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    overflow: scroll;
    transition: all 500ms;
}

.options-wrapper-animate {
    width: clamp(300px, calc(180px + 23vh), 420px);
    height: clamp(280px, calc(120px + 23vh), 420px);
    padding-block: 2rem;
    padding-inline: 2rem;
    transition: all 500ms;
}

#form-list,
#form-task {
    padding-block: 1rem;
    height: clamp(100px, calc(45px + 24vh), 420px);
    overflow: hidden;
    justify-content: center;
    /* font-weight: bolder; */
    color: rgb(60, 60, 60);
}

.list-item {
    /* border: 1px solid saddlebrown; */
    /* font-weight: bolder; */
    width: clamp(6rem, calc(6rem + 24vh), 12rem);
    color: rgb(44, 44, 44);
    padding-block: 0.25rem;
    padding-inline: 1rem;
    border-radius: 3rem;
    background-color: rgb(240, 240, 240);
    display: grid;
    grid-template-columns: 80% 20%;
    gap: 1rem;
}

.list-item div {
    /* border: 1px solid forestgreen; */
    display: grid;
    place-items: center;
}

.list-item svg {fill: rgb(187, 61, 61);}

.list-item path {stroke: rgb(240, 240, 240);}


#active {background-color: rgb(0, 235, 235);}
#active:hover {background-color: rgb(0, 245, 245);}
#active:active {background-color: rgb(0, 230, 230);}

.list-item:hover {background-color: rgb(230, 230, 230)}
.list-item:active {background-color: rgb(225, 225, 225)}

label {font-size: 1.5rem;}

input {
    padding-inline: 0.5rem;
    font-size: 1.1rem;
    width: clamp(180px, calc(150px + 30vw), 300px);
    border-bottom: 1px solid rgb(170, 170, 170);
    background-color: rgb(167, 243, 208);
}

input:focus {
    outline: none;
}

.option-btn, 
#form-list button,
#form-task button {
    padding-block: 0.5rem;
    padding-inline: 1rem;
    background-color: rgb(20, 224, 224);
    font-size: 1.1rem;
}

/* tasks */
.task {
    width: clamp(135px, calc(145px + 26vh), 420px);
    min-height: var(--doc-height);
    /* border: 1px dotted seagreen; */
}

.task-wrapper {
    /* border: 1px solid slateblue; */
    display: grid;
    grid-template-columns: 90% 10%;
    cursor: pointer;
}

.task-wrapper p {
    padding-inline: 0.5rem;
    transition: all 250ms;
}

.task-wrapper button {
    display: grid;
    place-items: center;
    /* border: 1px solid fuchsia; */
}

.line {
    text-decoration: line-through;
    opacity: 0.5;
    color: rgb(80, 80, 80);
    transition: all 250ms;
}

path {stroke-width: 1.8;}

@media only screen and (min-width: 640px) {

    body {
        background-color: #ddedea;
        display: grid;
        place-content: center;
        place-items: center;
        margin-top: 2rem;
    }

    .wrapper {
        width: 640px;
        height: 768px;
        background-color: rgb(240, 240, 240);
        border-radius: 3rem;
        --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);	
    }

    /* .btn {position: static;} */
}